# hook_test_port_start.sh
#
# $1 = "test_port_start"
# $2 = <jail used>
# $3 = <full path to port>
# $4 = <Number queued ports>

SET_test_port_start=fire_test_port_start

fire_test_port_start() {
  echo "Port ${3} has started building."
}
